configs/*
experiments/*
VQMAP.egg-info/*
vqmap/__pycache__
vqmap/datasets/__pycache__
vqmap/models/__pycache__
vqmap/optimizers/__pycache__
vqmap/trainer/__pycache__
vqmap/utils/__pycache__
VQMAP.egg-info